html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	color: #b2b2b2;
	
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* == End Reset == */


/* == Global Styles == */

html { 
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;
	background: url(../img/bridge.png) top center repeat-x #00cdec;
	width: 100%;
	min-width: 540px; }

h1 { 
	font-size: 24px; 
	line-height: 28px; 
	margin: 40px 0 0;
	color: #00cdec;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; }

a { color: #b2b2b2; text-decoration: none; }
a:active { position: relative; top: 1px; } 

.main-btn { 
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 4px; 
	-webkit-border-radius: 4px;
	background: center center no-repeat #00cdec;
	position: absolute;
	top: 48px; }

.main-btn:hover { background-color: #00c2e0; } 
.main-btn:active { top: 49px; position: absolute; }

#settings-btn { background-image: url(../img/settings-btn.png); right: 12px; }
	
#back-btn { background-image: url(../img/back-btn.png); left: 12px; }

.container { 
	width: 540px;
	min-height: 1px;
	margin: 144px auto 36px;
	overflow: visible;
	position: relative; }


/* == Content == */

.box { 
	width: 516px;
	background: #fff;
	border-radius: 4px; 
	-webkit-border-radius: 4px;
	padding: 0 12px;
	overflow: auto;  }

.speech { margin-top: 36px; }
.speech h1 { text-align: center; }

.settings-h1 { text-align: center; font-size: 36px; margin: 0 0 48px; color: #fff; padding-top: 24px; }
.settings { margin: 0 0 12px 0; }

ul { margin: 20px 0 0; }
ul li { padding: 0 0 12px 0; border-bottom: 1px solid #ebebeb; margin-bottom: 12px; }

ul.answers li a { padding: 12px; display: block; border-radius: 4px; -webkit-border-radius: 4px; }
ul.answers li a:hover { background: #ebebeb; } 
ul.answers li a img{ margin-left:10px; position:relative; top:1px;}

.settings h1, .settings ul li { text-indent: 12px; }
.switch, span.add { 
	text-indent: 0;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	width: 35px;
	padding: 4px 0 3px 0;
	text-align: center;
	vertical-align:middle;
	line-height: 8px;
	font-size: 10px; 
	color: #fff;
	border-radius: 8px; 
	-webkit-border-radius: 8px;
	background: #00cdec;
	position: relative;
	top: -2px; 
	left: 8px;
	cursor: pointer; }

.remove { 
	display: inline-block;
	float: right;
	position: relative;
	top: 3px;
	right: 12px;
	width: 16px; 
	height: 15px;
	background: url(../img/remove.png) no-repeat;
	opacity: .7;
	cursor: pointer; }
	
.remove:hover { opacity: 1; } 

.progress { 
	font-size: 10px; 
	font-weight: bold;
	text-align: center; 
	position: absolute; 
	width: 52px; 
	left: 50%; 
	margin-left: -26px; 
	margin-top: -28px;
	line-height: 1em; }
	
#question .fade .progress{
	margin-top: 12px;
}
#welcome { text-align: center; position:absolute; }
#welcome .single{ position:relative; }
#question { display: none; }
#question .single{
	opacity:0;
	left:-36px;
	position:relative;
}
#question .fade{
	position:absolute;
	width:516px;
	left:12px;
}

/* == Troll / Water == */

@-webkit-keyframes wavesl {
	0% {  margin-left: 0px;  }
	50% { margin-left: 10px; }
	100% { margin-left: 0px; }
}

@-webkit-keyframes wavesr {
	0% {  margin-right: 0px;  }
	50% { margin-right: 10px; }
	100% { margin-right: 0px; }
}

#troll { height: 84px; } 
#trolldude { position: absolute; top: -147px; left: 163px; } 
#waterleft, #waterright {  position: absolute; top:0; }
#waterleft { left: -247px; -webkit-animation: wavesl 2.4s infinite ease-out; }
#waterright { right: -202px; -webkit-animation: wavesr 2.4s infinite ease-out; }


input[type='range'] {
	display: block;
	width: 100%;
    -webkit-appearance: none !important;
    background: #ebebeb;
    height:12px;
    margin: 24px 0 36px;
    border-radius: 12px; 
    -webkit-border-radius: 12px; }
    
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: url(../img/handle.png);
    display: block;
    height:24px;
    width:24px;
    cursor: move; }














