html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* == End Reset == */

/* == @font-face == */

@font-face {
    font-family: 'GothamRounded-Bold';
    src: url('gothamrounded-bold.eot');
    src: url('gothamrounded-bold.eot?#iefix') format('embedded-opentype'),
         url('gothamrounded-bold.woff') format('woff'),
         url('gothamrounded-bold.ttf') format('truetype'),
         url('gothamrounded-bold.svg#gothamrounded-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* == Global Styles == */
html { 
	background: #00cdec;
	font: 24px/36px 'GothamRounded-Bold', Arial, sans-serif;
	color: #00cdec;
	width: 100%; }
h1 { font-size: 1.5em; line-height: 1.5em; font-weight: bold;   }
p { line-height: 2em; margin-bottom: 18px; }


/* == Grid == */
.max { width: 100%; max-width: 908px; min-width: 600px; margin: 0 auto; display: block; }
.max:before, .max:after { content:""; display:table; }
.max:after { clear: both; }

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10  { float: left; margin-right: 1.3215859030837%; }
.span1:last-child, .span2:last-child, .span3:last-child, .span4:last-child, .span5:last-child, .span6:last-child, .span7:last-child, .span8:last-child, .span9:last-child, .span10:last-child { margin-right: 0; }

.span2 { width: 18.942731277533%; }
.span6 { width: 59.4713656387665% }




/* == Header == */
header { background: url(../img/woodbkgd.png) repeat-x; height: 54px; }
#logo { background: url(../img/logo.png) no-repeat; height:54px; }

/* == Progress Bar == */
ul#progress { margin: 72px 0 18px; }
ul#progress li {   
	height: 36px; 
	border-radius: 36px; 
	-moz-border-radius: 36px; 
	-webkit-border-radius: 36px; 
	background: #00b8d4; }
ul#progress li.progress-correct { 
	background: -moz-linear-gradient(top,#c1e64e 0%,#81e64e);
	background: -webkit-gradient(linear, left top, left bottom, from(#c1e64e),to(#81e64e)); }

/* == Content == */
#content { background: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; padding-bottom: 72px; width: 100%; }
.page { 
	padding-top: 88px; 
	padding-left: 16%; 
	display: none;
	-webkit-backface-visibility: hidden;
	overflow: visible; } 
.show { display: block; }
.question { background: url(../img/qbubble.png) 20px 20px no-repeat; }
ul.answers { margin-top: 18px; }
ul.answers li { padding-bottom: 18px; position: relative; }



/* == Buttons == */
a.button { 
	text-decoration: none;
	text-align: center; 
	padding: 0 60px; 
	display: inline-table;
	height: 54px; 
	font-size: .75em;
	line-height: 54px;
	color: #fff;
	background: -moz-linear-gradient(top, #e94b68 0%, #d3314c);
	background: -webkit-gradient( linear, left top, left bottom, from(#e94b68), to(#d3314c));
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer; }
a.button:hover { 
	-moz-box-shadow:    0px 4px 0px 0px #8a0b22;
	-webkit-box-shadow: 0px 4px 0px 0px #8a0b22;
	box-shadow:         0px 4px 0px 0px #8a0b22;  }	

a.button:active { position: relative; top: 4px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; } 
a.correct { 
	background: -moz-linear-gradient(top,#c1e64e 0%,#81e64e);
	background: -webkit-gradient(linear, left top, left bottom, from(#c1e64e),to(#81e64e)); }
a.incorrect { 
	background: -moz-linear-gradient(top,#b83b52 0%,#9e2439);
	background: -webkit-gradient(linear, left top, left bottom, from(#b83b52),to(#9e2439)); }
a.correct:hover, a.correct:active, a.incorrect:hover, a.incorrect:active { 
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none; 
	top: 0; 
	cursor: default; }
 
img.feedback { position: absolute; top:20px; display: none; }
 
 
 
 
 
 
 
 
 
